main {
  padding: 15vh 5vw 10vh 5vw;
  min-height: 80vh;
}
main h1 {
  font-size: 1.5rem;
  border-bottom: 1.5px solid #ccc;
  display: inline-block;
  width: 60vw;
  min-width: 300px;
  margin-right: 1em;
  margin-bottom: 1.25rem;
}
.text-side-subtitle {
  color: #cdcdcd;
}

h3 {
  line-height: 1.25em;
}
